<!DOCTYPE html>
<html>
<head>
    <title>QIS</title>
    <link rel = "stylesheet" href = "../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "banner-div">
        <img src = "../static/images/qis_banner.png" alt = "noImg">
    </div>
    <div class = "main-div">
        <div class = "main-left">
            <a href="/campus"><img src = "../static/images/admissions.jpg" alt = "noImg"></a>
        </div>
        <div class = "main-right">
            <a href = "/admission"><h1>MANAGE ADMISSION</h1></a>
            <img src = "../static/images/college.png" alt = "noImg">
        </div>
    </div>
    <div class = "gallery-div">
        <a href = "" ><P>QIS GALLERY</P></a>
        <img src = "../static/images/play.jpg" alt = "noImg">
        <img src = "../static/images/students.jpg" alt = "noImg">
        <img src = "../static/images/graduation.jpg" alt = "noImg">
        <img src = "../static/images/class.jpg" alt = "noImg">
        <img src = "../static/images/dining.jpg" alt = "noImg">
    </div>
    <div class = "Volunteer-div">
        <img src = "../static/images/hr.jpg">
        <h1>CONTACT OUR VOLUNTEER</h1>
        <p> I am a volunteer in the qis college of engineering and technology </p>            
        <p>qis is offering engineering,pharmacy,M.Tech courses</p>
        <p>+91 2234567789899 <br> +912344778777878</p>
    </div>
    <div class = "info-div">
        <div class = "child-div">
            <h1>ADDRESS</h1>
            <p>Vengamukkapalem, Ongole <br>
                Prakasam District - 523272 <br>
                Andhra Pradesh, India</p>
        </div>
        <div class = "child-div">
            <form action = "/Callme" method = "POST" onsubmit="alert('call requested')">
                <input type = "text" placeholder="name" name="name" required>
                <input type = "email" placeholder="email" name="email" required>
                <input type = "number" placeholder="num" name="number" required>
                <select name="course">
                    <option value="" disabled selected>select course</option>
                    <option value="Compuers">Computers</option>
                    <option value="Robotics">Robotics</option>
                    <option value="Electronics">Electronics</option>
                    <option value="mining">mining</option>
                </select>
                <button type="submit">Callme</button>
            </form>
        </div>
        <div class="child-div">
            <h1>CONTACT</h1>
            <p>Phone: +91 92464 19542 <br>
                Mobile: +91 92464 19542 <br>
                Fax: +91 92464 19542 <br>
                Email: principal@qiscet.edu.in</p>
        </div>
    </div>
    <div class="footer-div">
        <p>Copyright © 2024 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
    </div>
</body>
</html>