<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel = "stylesheet" href = "../static/css/style.css">
</head>
<body>
    <div class = "banner-div">
        <img src = "../static/images/qis_banner.png" alt = "noImg">
    </div>
    <div class = "register-div">
        <form action = "" method = "post">
            <input type = "number" placeholder = "id" name="id" required>
            <input type = "text" placeholder = "name" name="name" required>
            <input type = "email" placeholder = "email" name="email" required>
            <input type = "number" placeholder = "phone" name="phone" required>
            <input type = "number" placeholder = "percentage" name="percentage" required>
            <input type = "number" placeholder = "rank" name="rank" required>
            <input type = "text" placeholder = "course" name="course" required>
            <input type = "text" placeholder = "address" name="address" required>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>